<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="UnityContainerWithMultiRegisters" value="WorkerSerevice"/>
  <add key="WorkerOnDuty" value="ParallelWorker"/>
  <add key="AccessToken" value="22_T2pXzb5avIN8SEXkSVFCo9LBQN7lxT0lJYK-jRVhz2vggrG1q3WLtNwm_fLkSrSv1KnEYi3TFE4H_pZL_1jEf7jdNBOCKIKNifAGVlaVthCVj6c_JBDIyB58jHd-aWC13ysxe9Sen0I7YUZ0BTIgACASKZ"/>
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>