<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="UnityContainerWithMultiRegisters" value="WorkerSerevice"/>
  <add key="WorkerOnDuty" value="ExpressionWorker"/>
  <add key="AccessToken" value=""/>
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  <add key="APPID" value="" />
  <add key="APP_SECRECT" value="" />
</appSettings>