<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="PrimaryConnectionString" connectionString="Server=172.16.50.112;Database=sh3hWeChat;Uid=sa;Pwd=p@ss!123;" providerName="System.Data.SqlClient" />
  <add name="SecondaryConnectionString" connectionString="Server=10.0.0.19;Database=YiWuWeb;Uid=sa;Pwd=ywss@123;" providerName="System.Data.SqlClient" />
  <add name="YWHotLineConnectionString" connectionString="Server=10.0.0.19;Database=YiWuWeb;Uid=sa;Pwd=ywss@123;" providerName="System.Data.SqlClient" />
  <add name="Fushun_Web" connectionString="Server=172.16.50.112;Database=FuShunWeb;Uid=sa;Pwd=p@ss!123;" providerName="System.Data.SqlClient" />
  <add name="sh3hWeChat" connectionString="Server=172.16.50.112;Database=sh3hWeChat;Uid=sa;Pwd=p@ss!123;" providerName="System.Data.SqlClient" />
  <add name="GY_CSM" connectionString="Server=199.10.10.162;Database=CSM_BM_IMP;Uid=sa;Pwd=p@ssw0rd;" providerName="System.Data.SqlClient" />
  <add name="CSM_BM" connectionString="Server=10.20.11.11;Database=CSM_BM_REPORT;Uid=sa;Pwd=ZZwater.2017;" providerName="System.Data.SqlClient" />
</connectionStrings>