<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--<add name="PrimaryConnectionString" connectionString="Server=128.1.1.150;Database=sh3hWeChat;Uid=sa;Pwd=p@ssw0rd;" providerName="System.Data.SqlClient" />-->
  <add name="PrimaryConnectionString" connectionString="Server=192.168.1.223;Database=csm_bm;Uid=sa;Pwd=databaseshlg*fee;" providerName="System.Data.SqlClient" />
  <add name="sh3hWeChat" connectionString="Server=172.16.50.112;Database=sh3hWeChat;Uid=sa;Pwd=p@ss!123;" providerName="System.Data.SqlClient" />
</connectionStrings>