<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <assembly name="demo_csharp" />
    <namespace name="demo_csharp" />

    <alias alias="IMasterWorker" type="demo_csharp.Workers.IWorkService.IMasterWorker, demo_csharp" />

    <containers>
      <container name="WorkerSerevice">
        <register type="IMasterWorker" mapTo="Workers.Worker4HelloWorld" name="HelloWorld"/>
        <register type="IMasterWorker" mapTo="Workers.Worker4HelloJack" name="HelloJack"/>
        <register type="IMasterWorker" mapTo="Workers.BillCheckingWorker" name="BillCheckingWorker"/>
        <register type="IMasterWorker" mapTo="Workers.XMLWorker" name="XMLWorker"/>
        <register type="IMasterWorker" mapTo="Workers.DelegateWorker" name="DelegateWorker"/>
        <register type="IMasterWorker" mapTo="Workers.EnumWorker" name="EnumWorker"/>
        <register type="IMasterWorker" mapTo="Workers.WhileLoopWorker" name="WhileLoopWorker"/>
        <register type="IMasterWorker" mapTo="Workers.CalculatorWorker" name="CalculatorWorker"/>
        <register type="IMasterWorker" mapTo="Workers.ImportChangeOwnerShipWorker" name="ImportChangeOwnerShipWorker"/>
        <register type="IMasterWorker" mapTo="Workers.DateTimeWorker" name="DateTimeWorker"/>
        <register type="IMasterWorker" mapTo="Workers.SHA1Worker" name="SHA1Worker"/>
        <register type="IMasterWorker" mapTo="Workers.StringWorker" name="StringWorker"/>
        <register type="IMasterWorker" mapTo="Workers.RegxWorker" name="RegxWorker"/>
        <register type="IMasterWorker" mapTo="Workers.SwitchCaseWorker" name="SwitchCaseWorker"/>
        <register type="IMasterWorker" mapTo="Workers.JSONWorker" name="JSONWorker"/>
        <register type="IMasterWorker" mapTo="Workers.ImportVATInfoWorker" name="ImportVATInfoWorker"/>
        <register type="IMasterWorker" mapTo="Workers.TupleWorker" name="TupleWorker"/>
        <register type="IMasterWorker" mapTo="Workers.HttpDownloadWorker" name="HttpDownloadWorker"/>
        <register type="IMasterWorker" mapTo="Workers.LoopWorker" name="LoopWorker"/>
        <register type="IMasterWorker" mapTo="Workers.ArrayWorker" name="ArrayWorker"/>
        <register type="IMasterWorker" mapTo="Workers.EncodingWorker" name="EncodingWorker"/>
        <register type="IMasterWorker" mapTo="Workers.GroupByWorker" name="GroupByWorker"/>
        <register type="IMasterWorker" mapTo="Workers.ImportWechatBindRelationWorker" name="ImportWechatBindRelationWorker"/>
        <register type="IMasterWorker" mapTo="Workers.SyncWechatFansWorker" name="SyncWechatFansWorker"/>
        <register type="IMasterWorker" mapTo="Workers.SyncWechatFansDetailWorker" name="SyncWechatFansDetailWorker"/>
        <register type="IMasterWorker" mapTo="Workers.AnalyseWechatFansAndUpdateWorker" name="AnalyseWechatFansAndUpdateWorker"/>
        <register type="IMasterWorker" mapTo="Workers.ListJsonWorker" name="ListJsonWorker"/>
        <register type="IMasterWorker" mapTo="Workers.ParallelWorker" name="ParallelWorker"/>
      </container>
    </containers>
  </unity>
</configuration>